<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://getbootstrap.com/favicon.ico">

      <title>Modificar Marca</title>

      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap-material-design.min.css">
      <!-- Custom styles for this template -->
      <link href="css/carousel.css" rel="stylesheet">
      <style>
          button{
            margin: 15px;
          }
      </style>
  </head>
  <body>
    <header>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
     <a class="navbar-brand" href="#">Papeleria</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item dropdown show">
           <a class="nav-link dropdown-toggle" href="#" role=""id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="#">Action</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#">Contacto</a>
         </li>
       </ul>
       <ul class="navbar-nav justify-content-end">
         <li class="nav-item active">
           <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Iniciar Sesion <span class="sr-only"></span></a>
         </li>
         <li class="nav-item active">
           <a class="nav-link" href="#">Registrarte<span class="sr-only"></span></a>
         </li>
       </ul>
     </div>
   </nav>
 </header>
 <div class="container">

   <div class="row justify-content-center mt-5">
     <div class="col-sm-12 col-md-8 col-lg-8">
 <div class="card text-black bg-white mb-3">
     <div class="card-header bg-dark text-white"><center><h4>Modificar Marca</h4></center></div>
   <div class="card-body">
 <br>
 <form>
  <div class="form-group row">
       <label for="formGroupExampleInput" class="col-sm-3 col-form-label">Id:</label>
       <div class="col-sm-9">
         <p>000111</p>
       </div>
     </div>
   <div class="form-group row">
     <label for="formGroupExampleInput" class="col-sm-3 col-form-label">Nombre:</label>
     <div class="col-sm-9">
       <input type="text" class="form-control" id="inputEmail3" placeholder="Marca">
     </div>
   </div>

   <div class="form-group row">
     <div class="offset-sm-2 col-sm-10 d-flex flex-row-reverse"><br>
       <button type="button" class="btn btn-raised btn btn-outline-danger" onclick = "location='Categorias.html'">Cancelar</button>
       <button type="submit" class="btn btn-raised btn btn-outline-success ">Modificar</button>
     </div>
   </div>
 </form>
</div>
</div>
</div>
</div>
</div>
  </body>
  <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-3.3.1.slim.min.js"><\/script>')</script>
   <script src="js/bootstrap.min.js"></script>
   <script type="text/javascript" src="js/bootstrap-material-design.min.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body>
</html>