<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://getbootstrap.com/favicon.ico">

      <title>Carousel Template for Bootstrap</title>

      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap-material-design.min.css">
      <!-- Custom styles for this template -->
      <link href="css/carousel.css" rel="stylesheet">
  </head>
  <body>
    <header>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
     <a class="navbar-brand" href="#">Papeleria</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item dropdown show">
           <a class="nav-link dropdown-toggle" href="#" role=""id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="#">Action</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#">Contacto</a>
         </li>
       </ul>
       <ul class="navbar-nav justify-content-end">
         <li class="nav-item active">
           <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Iniciar Sesion <span class="sr-only"></span></a>
         </li>
         <li class="nav-item active">
           <a class="nav-link" href="#">Registrarte<span class="sr-only"></span></a>
         </li>
       </ul>
     </div>
   </nav>
 </header>
 <br>
 <br>
 <br>
 <center>
 <div class="card text-black bg-white mb-3" style="max-width: 40rem;">
  <div class="card-header bg-primary text-white">Modificar Metodo De Pago</div>
   <div class="card-body">
 <div class="container">
 <form action="/my-handling-form-page" method="post">
     <div>
         <label for="pago">Folio Metodo de pago:</label>
         <select class="form-control-" id="exampleFormControlSelect1" style="width:100px;">
   <option>001</option>
   <option>002</option>
 </select>
     </div>
<br>
     <div>
         <label for="nombre">Nombre:</label>
         <input name="nombre_Pago" type="text" >
     </div>
<br>
     <button type="submit" class="btn btn-dark" style="background-color:lightgreen">Actualizar</button>
     <button type="submit" class="btn btn-ligth" style="background-color:#60bcc3">Regresar</button>

 </form>
 </section>

  </form>
  </body>
  <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-3.3.1.slim.min.js"><\/script>')</script>
   <script src="js/bootstrap.min.js"></script>
   <script type="text/javascript" src="js/bootstrap-material-design.min.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body>
</html>
